<!doctype html>
<html lang="en">
<body>
  <div class="wrapper " >
    <div class="sidebar" data-color="purple" data-background-color="white">
      <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
      <!-- <div class="logo">
        <a href="homeview" class="simple-text logo-normal">
          Dashboard
        </a>
      </div> -->

      <div class="sidebar-wrapper" style="background: linear-gradient(to bottom, #31426d 30%, #e14eca 100%); font-family: Verdana, Geneva, Tahoma, sans-serif; border-radius: 5px;">
        <ul class="nav" >
          <li class="{% if 'homedashboard' == segment %} active {% endif %} ">
            <a href="/" style="padding-left: 0px; margin-left:7px">
              <i class="tim-icons icon-world"></i>
              <p>Dashboard</p>
            </a>
          </li>

          <li class="{% if 'cls_req' in segment %} active {% endif %}">
            <a href="{% url 'view_classroom_requirement_course_offer' %}"style="padding-left: 0px; margin-left:7px">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Classroom Requirement</p>
            </a>
          </li>

          <li class="{% if 'enroll' in segment %} active {% endif %}">
            <a href="{% url 'view_enrolment_course_school' %}"style="padding-left: 0px; margin-left: 7px">
              <i class="tim-icons icon-chart-bar-32"></i>
              <p>Enrollment wise Course</p>
            </a>
          </li>

          <li class="{% if 'details' in segment %} active {% endif %}">
            <a href="{% url 'view_enrolment_details' %}"style="padding-left: 0px; margin-left:7px">
              <i class="tim-icons icon-notes"></i>
              <p>Details Enrollment Table</p>
            </a>
          </li>


      <li class="{% if 'usage' == segment %} active {% endif %}">
        <a data-toggle="collapse" href="#resource"style="padding-left: 0px; margin-left:7px">
          <i class="tim-icons icon-components"></i>
          <p>Resources Analysis
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="resource">
          <ul class="nav">
            <li>
              <a href="{% url 'view_usage_resource' %}"style="padding-left: 0px; margin-left:7px">
                <span class="sidebar-mini-icon">C</span>
                <span class="sidebar-normal">Usage of the resources</span>
              </a>
            </li>
            <li>
              <a href="{% url 'view_iub_resources' %}" style="padding-left: 0px; margin-left:7px">
                <span class="sidebar-mini-icon">C</span>
                <span class="sidebar-normal">IUB available resources</span>
              </a>
            </li>
            <li>
              <a href="{% url 'view_availabilityvscourse_offer' %}" style="padding-left: 0px; margin-left:7px">
                <span class="sidebar-mini-icon">C</span>
                <span class="sidebar-normal">Availability VS Requirement</span>
              </a>
            </li>
            <li>
          </ul>
        </div>
      </li>

          

      <li class="{% if 'rev' == segment %} active {% endif %}">
        <a data-toggle="collapse" href="#revenueiub"style="padding-left: 0px; margin-left:7px">
          <i class="tim-icons icon-coins"></i>
          <p>Revenue of IUB
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="revenueiub">
          <ul class="nav">
            <li>
              <a href="{% url 'view_revenue_of_iub' %}"style="padding-left: 0px; margin-left:7px">
                <span class="sidebar-mini-icon">C</span>
                <span class="sidebar-normal">Revenue of the schools</span>
              </a>
            </li>
            <li>
              <a href="{% url 'view_rev_change' %}"style="padding-left: 0px; margin-left:7px">
                <span class="sidebar-mini-icon">T</span>
                <span class="sidebar-normal">IUB Revenue and Change %</span>
              </a>
            </li>
            <li>
              <a href="{% url 'view_revenue_table_of_iub' %}" style="padding-left: 0px; margin-left:7px">
                <span class="sidebar-mini-icon">T</span>
                <span class="sidebar-normal">IUB Revenue Table</span>
              </a>
            </li>
          </ul>
        </div>
      </li>


      <li class="{% if 'sets' == segment %} active {% endif %}">
        <a data-toggle="collapse" href="#revenuesets"style="padding-left: 0px; margin-left:7px">
          <i class="tim-icons icon-bank"></i>
          <p>engr. School Revenue
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="revenuesets">
          <ul class="nav">
            <li>
              <a href="{% url 'view_sets_rev' %}"style="padding-left: 0px; margin-left:7px">
                <span class="sidebar-mini-icon">C</span>
                <span class="sidebar-normal">Department wise revenue</span>
              </a>
            </li>
            <li>
              <a href="{% url 'view_deptwise_rev_per' %}"style="padding-left: 0px; margin-left:7px">
                <span class="sidebar-mini-icon">C</span>
                <span class="sidebar-normal"> Revenue and Change %</span>
              </a>
            </li>
            <li>
              <a href="{% url 'view_engr_school_rev' %}" style="padding-left: 0px; margin-left:7px">
                <span class="sidebar-mini-icon">C</span>
                <span class="sidebar-normal"> Engr. School Revenue Table</span>
              </a>
            </li>
  
          </ul>
        </div>
      </li>


      


          <!-- your sidebar here -->
        </ul>
      </div>
    </div>
    
    
</body>

</html>