{% extends "layouts/base.html" %}

{% block title %} SEAS{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block sidebar %} {% include 'includes/usersidebar.html' %} {% endblock %}




{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header ">
                <h3 class="card-title"><i class="tim-icons icon-molecule-40 text-primary"></i>Availability and course offering comparison
                </h3>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <form id="myform" action="view_availabilityvscourse_offer" method="post">
        {% csrf_token %}
        <table class="form-table">
            <tr>
                <td class="form-field" style="padding-right:30px;">
                    <label style="padding-right:5px;" for="sem">Semester</label>
                    <select style="width:120px;height:30px;" class="form-select selectpicker" id="sem" name="sem"
                        form="myform" title="Select Semester" multiple>
                        {% for i in semesters %}
                        {% if i == sem %}
                        <option value="{{i}}" selected="selected">{{i}}</option>
                        {% else %}
                        <option value="{{i}}">{{i}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td class="form-field" style="padding-right:30px;">
                    <label style="padding-right:5px;" for="year">Year</label>
                    <select style="width:120px;height:30px;" class="form-select selectpicker" id="year" name="year"
                        form="myform" title="Select Year">
                        {% for i in years %}
                        {% if i == year %}
                        <option value="{{i}}" selected="selected">{{i}}</option>
                        {% else %}
                        <option value="{{i}}">{{i}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td style="text-align: center;" class="last-row" colspan="2">
                    <button class="btn btn-primary">Search</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script> -->



<div class="row mt-0.5" id="chart">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header ">
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <h3 class="card-title"><i class="tim-icons icon-chart-pie-36 text-primary"></i>Availability and Course Offering Comparison Semester wise</h3>
                        <span class="label label-success text-center" id="whatisshowing"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="card-body" style="height:450px;">
                <div class="chart-area">
                    <canvas id="barchart" height="95%"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-4" id="table">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-body">
                <table class="table table-bordered table-striped " style="text-align: center;">
                    <thead style="background-color:hsl(251, 100%, 50%);">
                        <th colspan={{noofcols}} style="background-color:#66abe4">
                            <h4>Availability &#x1F19A; Course offering</h4>
                        </th>
                        <tr>
                            <th>Class Size</th>
                            <th>IUB Resource</th>
                            {% for i in selectedsem%}                               
                            <th>{{i}}</th>
                            <th>Difference</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody style="font-size: larger;">
                        {% for c in table%}
                        <tr>
                            {% for e in c %}
                            <td class="value">{{ e }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    var search = {{ search }}

    if (search == 1) {
        document.getElementById("chart").style.display = "none";
        document.getElementById("table").style.display = "none";
    }
</script>

<script>
    var ctx = document.getElementById("barchart").getContext("2d");
        colors = ['#FF8300', '#1BE110', '#DD4CFF', '#5F9EA0', '#6495ED', '#A9A9A9', '#FF69B4', '#0000FF', '#006D77']
        
        
        chartlabel = {{ chartlabel | safe }}
        chartdata = {{ chartdata | safe }}
        selectedsem={{ selectedsem|safe}}
        resource={{ resource|safe}}
        var chatdata = []
        var originaldata2 = {
                type: 'bar',
                //fill: false,
                label: "IUB Resources",
                data: resource,
                backgroundColor: '#1D76D7',


            }
            chatdata.push(originaldata2);

            for (var i = 0; i < selectedsem.length; i++) {
                var originaldata = {
                    type: 'bar',
                    label: selectedsem[i],
                    data: chartdata[i],
                    backgroundColor: colors[i],

                };
                chatdata.push(originaldata);
            }
            
            var data = {
                labels: chartlabel,
                datasets: chatdata

            };
            //console.log(chatdata);
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    title: {
                        display: true
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                            },
                            type: 'linear',
                        }]
                    },
                    responsive: true,
                    maintainAspectRatio: true
                }
            });
        
</script>

{% endblock javascripts %}