{% extends "layouts/base.html" %}

{% block title %} SEAS{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block sidebar %} {% include 'includes/usersidebar.html' %} {% endblock %}




{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header ">
                <h3 class="card-title"><i class="tim-icons icon-chart-pie-36 text-primary"></i>Classroom Requirement Summary
                </h3>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <form id="myform" action="view_classroom_requirement_course_offer" method="post">
        {% csrf_token %}
        <table class="form-table">
            <tr>
                <td class="form-field" style="padding-right:30px;">
                    <label style="padding-right:5px;" for="sem">Semester</label>
                    <select style="width:120px;height:30px;" class="form-select selectpicker" id="sem" name="sem"
                        form="myform" title="Select Semester">
                        {% for i in semesters %}
                        {% if i == sem %}
                        <option value="{{i}}" selected="selected">{{i}}</option>
                        {% else %}
                        <option value="{{i}}">{{i}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td class="form-field" style="padding-right:30px;">
                    <label style="padding-right:5px;" for="year">Year</label>
                    <select style="width:120px;height:30px;" class="form-select selectpicker" id="year" name="year" form="myform" title="Select Year">
                        {% for i in years %}
                        {% if i == year %}
                        <option value="{{i}}" selected="selected">{{i}}</option>
                        {% else %}
                        <option value="{{i}}">{{i}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td style="text-align: center;" class="last-row" colspan="2">
                    <button class="btn btn-primary">Search</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script> -->



<div class="row mt-0.5" id="chart">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header ">
                <div class="row">
                    <div class="col-sm-10 text-left">
                        <h3 class="card-title"><i class="tim-icons icon-chart-pie-36 text-primary"></i>Classroom requirement as per course offering (Summary) &#10145; {{selectedsem}}</h3>
                        <span class="label label-success text-center" id="whatisshowing"></span>
                        </label>
                    </div>
                    
                    <div class="col-sm-2">
                        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                        <label class="btn btn-sm btn-primary btn-simple" id="0">
                            <input type="radio" class="d-none d-sm-none" name="options">
                            <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Class 6</span>
                            <span class="d-block d-sm-none">
                                <i class="tim-icons icon-gift-2"></i>
                            </span>
                        </label>
                        <label class="btn btn-sm btn-primary btn-simple" id="1">
                            <input type="radio" class="d-none" name="options">
                            <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Class 7</span>
                            <span class="d-block d-sm-none">
                                <i class="tim-icons icon-tap-02"></i>
                            </span>
                        </label>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body" style="height:450px;">
                <div class="chart-area">
                    <canvas id="pie" height="95%"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-4" id ="table">
      <div class="col-12">
          <div class="card card-chart">
          <div class="card-body">
            <table class="table table-bordered table-striped " style="text-align: center;">
               <thead style="background-color:#007FFF;">
                <th colspan="4" style="background-color:#66abe4">
                    <h4>{{selectedsem}}</h4>
                </th>
                    <tr>
                      <th>Class Size</th>
                      <th>Sections</th>
                      <th>Class room 6 </th>
                      <th>Class room 7 </th>
                    </tr>
               </thead>
               <tbody style="font-size: larger;">
                   {% for c in table%}
                                <tr>
                                    {% for e  in c %}
                                        <td class="value">{{ e }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
               </tbody>

                    </table>
          </div>
      </div>
  </div>
</div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    var search = {{ search }}

    if (search == 1) {
        document.getElementById("chart").style.display = "none";
        document.getElementById("table").style.display = "none";
    }
</script>

<script>
     var ctx = document.getElementById("pie").getContext("2d");
        colors = ['#00FFFF', '#7FFF00', '#A52A2A', '#5F9EA0', '#6495ED', '#A9A9A9', '#FF69B4', '#0000FF', '#006D77'
            , '#E29578', , '#81b29a', '#EEA47FFF']
        
        class6={{ class6|safe}}
        class7 = {{ class7 | safe }}
        sections ={{ sections | safe}}
        
    var originaldata = {
            labels: ['1-10', '11-20', '21-30', '31-35', '36-40', '41-50', '51-55', '56-65'],
            datasets: [
                {
                    fill: false,
                    label: "class 6",
                    data: sections,
                    backgroundColor: colors,
                    borderWidth: 0,
                    
                }
            ],
            
        };
        var options = {
                responsive: true,
                
              tooltips: {
                callbacks: {
                    // this callback is used to create the tooltip label
                    
                      label: function (tooltipItem, data) {
                          var allData = data.datasets[tooltipItem.datasetIndex].data;
                          var tooltipLabel = data.labels[tooltipItem.index];
                          var tooltipData = allData[tooltipItem.index];
                          var total = 0;
                          for (var i in allData) {
                              total += parseFloat(allData[i]);
                          }
                          var tooltipPercentage = ((tooltipData / total) * 100).toFixed(2);
                          return tooltipLabel + ' , ' + tooltipData + ' (' + tooltipPercentage + '%)';
                      }
                }
            },
            };
        
        var mychart = new Chart(ctx, {
                type: 'pie',
                data: originaldata,
                options: options,
            });
    document.getElementById('whatisshowing').innerHTML = 'Number of Sections';
    $("#0").click(function () {
        document.getElementById('whatisshowing').innerHTML = 'Class 6';
        var datasetlist2={
                labels: ['1-10', '11-20', '21-30', '31-35', '36-40', '41-50', '51-55', '56-65'],
                datasets: [
                    {
                        fill: false,
                        label: "class 6",
                        data: class6,
                        backgroundColor: colors,
                        borderWidth: 0
                    }
                ],
        }

        mychart.data = datasetlist2;

        mychart.update();
        
    });

    $("#1").click(function () {
        document.getElementById('whatisshowing').innerHTML = 'Class 7';
            var datasetlist2 = {
                labels: ['1-10', '11-20', '21-30', '31-35', '36-40', '41-50', '51-55', '56-65'],
                datasets: [
                    {
                        fill: false,
                        label: "class 7",
                        data: class7,
                        backgroundColor: colors,
                        borderWidth: 0
                    }
                ],
            }

            mychart.data = datasetlist2;

            mychart.update();

        });
</script>

{% endblock javascripts %}


