{% extends "layouts/base.html" %}

{% block title %} SEAS{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block sidebar %} {% include 'includes/usersidebar.html' %} {% endblock %}


{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header ">
                <h3 class="card-title"><i class="tim-icons icon-minimal-right text-primary"></i>Enrolment wise course distribution among the schools
                </h3>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <form id="myform" action="view_enrolment_course_school" method="post">
        {% csrf_token %}
        <table class="form-table">
            <tr>
                <td class="form-field" style="padding-right:30px;">
                    <label style="padding-right:5px;" for="sem">School</label>
                    <select style="width:120px;height:30px;" class="form-select selectpicker" id="scl" name="scl"
                        form="myform" title="Select School" multiple>
                        {% for i in schools %}
                        {% if i == scl %}
                        <option value="{{i}}" selected="selected">{{i}}</option>
                        {% else %}
                        <option value="{{i}}">{{i}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td class="form-field" style="padding-right:30px;">
                    <label style="padding-right:5px;" for="sem">Semester</label>
                    <select style="width:120px;height:30px;" class="form-select selectpicker" id="sem" name="sem"
                        form="myform" title="Select Semester">
                        {% for i in semesters %}
                        {% if i == sem %}
                        <option value="{{i}}" selected="selected">{{i}}</option>
                        {% else %}
                        <option value="{{i}}">{{i}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td class="form-field" style="padding-right:30px;">
                    <label style="padding-right:5px;" for="year">Year</label>
                    <select style="width:120px;height:30px;" class="form-select selectpicker" id="year" name="year" form="myform" title="Select Year">
                        {% for i in years %}
                        {% if i == year %}
                        <option value="{{i}}" selected="selected">{{i}}</option>
                        {% else %}
                        <option value="{{i}}">{{i}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td style="text-align: center;" class="last-row" colspan="2">
                    <button class="btn btn-primary">Search</button>
                </td>
            </tr>
        </table>
    </form>
</div>


<div class="row " id="chart">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-body" style="height:500px;">
                <div class="chart-area">
                    <h4 style="margin: 0;">{{selectedsem}}</h4>
                    <canvas id="barchart" height="110%"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-4" id ="table">
      <div class="col-12">
          <div class="card card-chart">
          <div class="card-body">
            <table class="table table-bordered table-striped " style="text-align: center;">
               <thead style="background-color:#007FFF;">
                <th colspan="{{rowsize}}" style="background-color:#66abe4">
                    <h4>{{selectedsem}}</h4>
                </th>
                    <tr>
                      <th>Enrollment</th>
                      {% for c in selectedschool%}
                      <th>{{ c }}</th>     
                      {% endfor %}
                      <th>Total</th>
                    </tr>
               </thead>
               <tbody style="font-size: larger;">
                   {% for c in table%}
                                <tr>
                                    {% for e  in c %}
                                        <td class="value">{{ e }}</td>
                                    {% endfor %}
                                </tr>
                    {% endfor %}
               </tbody>

                    </table>
          </div>
      </div>
  </div>
</div>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script> -->

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    var search = {{ search }}

    if (search == 1) {
        document.getElementById("chart").style.display = "none";
        document.getElementById("table").style.display = "none";
    }
</script>
<script>

    var ctx = document.getElementById("barchart").getContext("2d");
    colors = ['#00FFFF', '#A52A2A', '#7FFF00', '#5F9EA0', '#6495ED', '#A9A9A9', '#FF69B4', '#0000FF', '#006D77']
    l = ['1-10', '11-20', '21-30', '31-35', '36-40',
            '41-50', '51-55', '56-60', '60+']
    enrollment = {{enrollment | safe}}
    labels={{labels|safe}}
    scllabels={{schoollabel|safe}}
    selectedschool = {{selectedschool|safe}}
    
    // var originaldata = {
    //     labels: labels,

    //     datasets: [{
    //         label: scllabels,
    //         data: enrollment[0],
    //         backgroundColor: colors,
    //     },
    //      {
    //         label: scllabels,
    //         data: enrollment[1],
    //         backgroundColor: colors,
    //     }],

    // }
    var chatdata=[]

    for(var i=0;i<selectedschool.length;i++){
        var originaldata = {
            type:'bar',
            label: selectedschool[i],
            data: enrollment[i+1],
            backgroundColor: colors[i],
        
    };
    chatdata.push(originaldata);
    }
    var originaldata2 = {
        type:'line',
        fill: false,
            label: "Total",
            data: enrollment[0],
            backgroundColor: '#FF00FF',
            borderColor: '#FFFF00',
            lineTension: 0,
        
    }
    chatdata.push(originaldata2);
    var data = {
            labels: l,
			datasets : chatdata
            
		};
    //console.log(chatdata);
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: {
            title: {
                display: true
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                    },
                    type: 'linear',
                }]
            },
            responsive: true,
            maintainAspectRatio: true
        }
    });
    
    

</script>



{% endblock javascripts %}


