{% extends "layouts/base.html" %}

{% block title %} SEAS{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block sidebar %} {% include 'includes/usersidebar.html' %} {% endblock %}




{% block content %}
<div class="row">
    <div class="col-12" style="display: flex;
  justify-content: center;
  align-items: center;">
        <h1 style="background: -webkit-linear-gradient(rgb(236, 86, 199), rgb(86, 165, 255));
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;">&#11013;Select From Left menu</h1>
    </div>

</div>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap" rel="stylesheet">


<div class="row mt-0.5" id="chart">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-body" style="height:400px;">
                <p class="dashtext">The project's goal is to develop a system for stakeholders and
                institutional bodies to retrieve statistical data on school-level revenue analysis,
                classroom requirement analysis based on class slot, classroom allocation
                recommendations based on IUB best resource utilization, and IUB resource
                analysis.
                </p>
                <style>
                    .dashtext{
                        text-align: center;
                        padding: 10%;
                        padding-top: 5%;
                        /* margin-top: 7%; */
                        font-size: 1.6rem;
                        font-family: 'Baloo Bhaijaan 2', cursive;
                          background: -webkit-linear-gradient(rgba(255, 87, 213, 0.589), rgb(255, 255, 255));
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                </style>
            </div>
        </div>
    </div>
</div>


{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    var search = {{ search }}

    if (search == 1) {
        document.getElementById("chart").style.display = "none";
        document.getElementById("table").style.display = "none";
    }
</script>

<script>
    var ctx = document.getElementById("barchart").getContext("2d");
    
</script>

{% endblock javascripts %}